<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form action="{% url 'confirm' %}" method="POST">
			{% csrf_token %}
			<input type="email" placeholder="Email" name="email"><br><br>
			<input type="text" placeholder="Old password" name="old"><br><br>
			<input type="text" placeholder="New password" name="new"><br><br>
			<input type="text" placeholder="confirm new password" name="new2"><br><br>
			<input type="submit" name="submit"><br>

		</form>
	</center>

</body>
</html>